.main {
    position: relative;
}

#resumePDF {
    width: 100%;
    aspect-ratio: 8.5 / 11;
}

h2 {
    margin: 0;
    text-align: center;
}

#pdfExpand {
    text-decoration: underline;
    color: black;
}