* { margin: 0; }

body {
    /*general text stylings*/
    color: #edf2f4;
    text-align: center;

    /*slideshow background*/
    width: 100%;
    height: 100vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: slideBg 30s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url('../media/indexSlideShowM/1.png');
}
@keyframes slideBg {
    0% { background-image: url('../media/indexSlideShowM/1.png') }
    10% { background-image: url('../media/indexSlideShowM/1.png') }
    20% { background-image: url('../media/indexSlideShowM/2.png') }
    30% { background-image: url('../media/indexSlideShowM/2.png') }
    40% { background-image: url('../media/indexSlideShowM/3.png') }
    50% { background-image: url('../media/indexSlideShowM/3.png') }
    60% { background-image: url('../media/indexSlideShowM/4.png') }
    70% { background-image: url('../media/indexSlideShowM/4.png') }
    80% { background-image: url('../media/indexSlideShowM/5.png') }
    90% { background-image: url('../media/indexSlideShowM/5.png') }
    100% { background-image: url('../media/indexSlideShowM/1.png') }
}

/* dark cover makes background more of a backdrop*/
#cover {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: #111;
    opacity: 0.9;
}

/* contact card */
#landInfo { padding-top: 5vh; }
/*h1 {
    font-size: 2.7em;
    margin-bottom: 5vh;
}*/
#wordmark  {
    height: 40%;
    margin: 3vh 0 1vh 0;
}
h2 {
    font-size: 1.2em; 
    margin-bottom: 3vh;
    font-family: 'Comic Sans MS', sans-serif; /*Nunito Sans*/
    font-weight: bold;
}
a {
    text-decoration: none;
    color: white;
}

/* page cards */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav a {
    margin: 7px;
    height: 10vh;
    line-height: 10vh;
    width: 80%;
    text-decoration: none;
    color: black;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 1.5em;
    background-color: #edf2f4;
}

/*MAKE TABLET VIEW*/


/* Desktop View */
@media only screen and (min-width: 900px) {

    body {
        background-image: url('../media/indexSlideShow/1.png');
    }
    @keyframes slideBg {
        0% { background-image: url('../media/indexSlideShow/1.png') }
        12% { background-image: url('../media/indexSlideShow/1.png') }
        25% { background-image: url('../media/indexSlideShow/222.png') }
        37% { background-image: url('../media/indexSlideShow/222.png') }
        50% { background-image: url('../media/indexSlideShow/33.png') }
        67% { background-image: url('../media/indexSlideShow/33.png') }
        75% { background-image: url('../media/indexSlideShow/4444.png') }
        87% { background-image: url('../media/indexSlideShow/4444.png') }
        100% { background-image: url('../media/indexSlideShow/1.png') }
    }

    /* contact card */
    /*h1 {
        font-size: 7vw;
        margin-bottom: 7vh;
    }*/
    #wordmark {
        height: 40vh;
        margin-bottom: 5vh;
    }
    h2 {
        font-size: 1.5vw; 
        margin-bottom: .5vw;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }

    /* page cards */
    nav {
        flex-direction: row;
        justify-content: center;
    }
    nav a { 
        margin: 20px;
        transition: all .3s ease-in-out; 
        height: 13vh;
        line-height: 13vh;
        width: 20vw;
        background-position: center;
        border-radius: 10px;
        font-size: 2em;
    }

    /* page card transitions */
    nav a:hover {
        transform: scale(1.2);
        border-radius: 0;
        font-size: 2.3em;
        border-radius: 3px;
        /*background-color: #555555;*/
        background-image: url('../media/indexPageCards/spiral.gif');
        /*color: white;*/
        font-weight: bold;
    }
    /*
    #workCard:hover { background-image: url('../media/indexPageCards/spiral.gif'); }
    #resumeCard:hover { background-image: url('../media/indexPageCards/spiral.gif'); }
    #aboutCard:hover { background-image: url('../media/indexPageCards/spiral.gif'); }
    */
  }